node_modules
/.cache
/build
/dist
/public/build
/.mf
.env
.shopify
.react-router
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.tsbuildinfo
hydrogen-quickstart/
.cursor/settings.json
